:root {
    --primary-color: #007bff; /* Define a variable named --primary-color */
    --font-size: 16px; /* Define a variable named --font-size */
    --padding-margin: 16px;
}

body {
    margin: 0;
    padding: calc(var(--padding-margin) * 2);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* font-family: Arial, sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-size);
}
.margin-below {
    margin-bottom: calc(var(--padding-margin) * 2);
}
.hidden {
    display: none;
}
/* .flex-row {
    display: flex;
    flex-direction: row;
} */

/* DROP */
#dropArea {
    border: 2px dashed #ccc;
    padding: var(--padding-margin);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: calc(var(--padding-margin) / 2);
    font-size: var(--font-size);
    color: var(--primary-color);
}

/* RADIO & CHECKBOXES */
.option-div {
    padding-top: calc(var(--padding-margin) / 8);
    padding-bottom: calc(var(--padding-margin) / 8);
}
.subtitle {
    margin-bottom: calc(var(--padding-margin) / 2);
    font-weight: 500;
}

/* RADIO */
input[type='radio'] {
    width: var(--padding-margin);
    height: var(--padding-margin);
    cursor: pointer;
}
.radio-checkbox-label {
    font-size: var(--font-size);
    color: #333;
    cursor: pointer;
}
input[type='radio']:checked + .radio-label {
    color: #28a745;
    font-weight: bold;
}

/* CHECKBOXES */
.checkbox-container {
    display: inline-block;
    position: relative;
    cursor: pointer;
}
input[type='checkbox'] {
    width: var(--padding-margin);
    height: var(--padding-margin);
    cursor: pointer;
    margin-right: calc(var(--padding-margin) /2);
}
.checkbox-label {
    font-size: var(--font-size);
    color: #333;
    cursor: pointer;
}

/* input[type='checkbox']:checked + .checkbox-container {
    background-color: #28a745; 
    border-color: #28a745; 
} */

/* TABLE */
#table-container {
    flex-basis: auto;
    /* border-collapse: collapse; */
    /* border: 1px solid #ddd; */
}
/* Style for the table */
table {
    border-collapse: collapse;
    border: 1px solid #ddd;
}
/* Style for table header */
th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: calc(var(--padding-margin) / 2);
}
/* Style for table cells */
td {
    border: 1px solid #ddd;
    padding: calc(var(--padding-margin) / 2);
}
/* Alternate row color */
tr:nth-child(even) {
    background-color: #f9f9f9;
}
/* Hover effect on rows */
tr:hover {
    background-color: #f2f2f2;
}

/* DOWNLOAD BUTTON */
#download-btn {
    padding: calc(var(--padding-margin) / 2);
    font-size: var(--font-size);
    border-radius: calc(var(--padding-margin) / 2);
    border: 1px solid #000;
    cursor: pointer;
}
