:root {
    --primary-color: #007bff; /* Define a variable named --primary-color */
    --font-size: 16px; /* Define a variable named --font-size */
    --font-size-smaller: 14px;
    --padding-margin: 16px;
    --danger: hsl(348, 86%, 43%);
    --warning: hsl(48, 100%, 29%);
    --success: hsl(141, 53%, 31%);
    --info: hsl(204, 71%, 39%);
    --background-light: hsl(0, 0%, 90%);
}

body {
    margin: 0;
    padding: calc(var(--padding-margin) * 2);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* font-family: Arial, sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-size);
    background-color: var(--background-light);
}
.margin-below {
    margin-bottom: calc(var(--padding-margin) * 2);
}
.hidden {
    display: none;
}
/* .flex-row {
    display: flex;
    flex-direction: row;
} */

/* DROP */
#dropArea {
    border: 2px dashed #ccc;
    padding: var(--padding-margin);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: calc(var(--padding-margin) / 2);
    font-size: var(--font-size);
    color: var(--primary-color);
}

/* RADIO & CHECKBOXES */
.option-div {
    padding-top: calc(var(--padding-margin) / 8);
    padding-bottom: calc(var(--padding-margin) / 8);
    margin-bottom: calc(var(--padding-margin) / 2);
}
.subtitle {
    margin-bottom: calc(var(--padding-margin) / 2);
    font-weight: 600;
}

/* RADIO */
input[type='radio'] {
    width: var(--padding-margin);
    height: var(--padding-margin);
    cursor: pointer;
}
.radio-checkbox-label {
    font-size: var(--font-size);
    color: #333;
    cursor: pointer;
}
input[type='radio']:checked + .radio-label {
    color: #28a745;
    font-weight: bold;
}
/* Style for the context below each option */
.option-context {
    font-size: var(--font-size-smaller);
    margin-left: calc(var(--padding-margin) / 2);
}

/* CHECKBOXES */
.checkbox-container {
    display: inline-block;
    position: relative;
    cursor: pointer;
}
input[type='checkbox'] {
    width: var(--padding-margin);
    height: var(--padding-margin);
    cursor: pointer;
    margin-right: calc(var(--padding-margin) / 2);
}
.checkbox-label {
    font-size: var(--font-size);
    color: #333;
    /* cursor: pointer; */
}

/* TABLE */
#table-container {
    flex-basis: auto;
    /* border-collapse: collapse; */
    /* border: 1px solid #ddd; */
}
/* Style for the table */
table {
    border-collapse: collapse;
    border: 1px solid #ddd;
}
/* Style for table header */
th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: calc(var(--padding-margin) / 2);
}
/* Style for table cells */
td {
    border: 1px solid #ddd;
    padding: calc(var(--padding-margin) / 2);
}
/* Alternate row color */
/* tr:nth-child(even) {
    background-color: #f9f9f9;
} */
/* Hover effect on rows */
/* tr:hover {
    background-color: #f2f2f2;
} */

/* Alternate row color for better visual separation */
tr:nth-child(even):not(.error-row):not(.warning-row):not(.info-row) {
    background-color: #f9f9f9;
}

/* Hover effect on rows */
tr:hover:not(.error-row):not(.warning-row):not(.warning-row):not(.info-row) {
    background-color: #f2f2f2;
}

.error-row {
    background-color: var(--danger);
    /* Remove hover effect on error rows */
    cursor: default;
}

.warning-row {
    background-color: var(--warning);
    /* Remove hover effect on warning rows */
    cursor: default;
}

.info-row {
    background-color: var(--info);
    /* Remove hover effect on error rows */
    cursor: default;
}

/* Styles for cells with errors */
.error-cell {
    background-color: var(--danger);
    /* Add border or other styles if needed */
    /* border: 1px solid var(--danger); */
}

/* Styles for cells with warnings */
.warning-cell {
    background-color: var(--warning);
    /* Add border or other styles if needed */
    /* border: 1px solid var(--warning); */
}
.info-cell {
    background-color: var(--info);
    /* Add border or other styles if needed */
    /* border: 1px solid var(--warning); */
}
.pointer-icon {
    cursor: pointer;
}

/* DOWNLOAD BUTTON */
/* #download-btn {
    padding: calc(var(--padding-margin) / 2);
    font-size: var(--font-size);
    border-radius: calc(var(--padding-margin) / 2);
    border: 1px solid #000;
    cursor: pointer;
} */

button {
    padding: calc(var(--padding-margin) / 2);
    font-size: var(--font-size);
    border-radius: calc(var(--padding-margin) / 2);
    border: 1px solid #000;
    cursor: pointer;
}

/* TOAST */
#toast-container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Toast styles */
.toast {
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 4px;
    transition: opacity 0.3s, transform 0.3s;
    opacity: 0;
    transform: translateY(-100%);
}

/* Show toast animation */
.toast.show {
    opacity: 1;
    transform: translateY(0);
}
/* Styles for different message types */
.toast.info {
    background-color: var(--info); /* Blue for info */
    color: white;
}
.toast.success {
    background-color: var(--success); /* Blue for info */
    color: white;
}
.toast.warning {
    background-color: var(--warning); /* Yellow for warning */
    color: black;
}

.toast.error {
    /* background-color: #F44336; Red for error */
    background-color: var(--danger);
    color: white;
}
